os:
  - linux
  - osx

branches:
  only:
    - master

env:
  - NODE_VERSION="6.3.0"

before_script:
 - cd ./Project/electron-boilerplate-master
 - chmod +x ./scripts/travis-build.sh

script: ./scripts/travis-build.sh

cache:
  directories:
    - node_modules

notifications:
  email:
    on_success: never
    on_failure: change

matrix:
  allow_failures:
    - os: osx
